language: python
sudo: required
dist: trusty

python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'

matrix:
  fast_finish: true

branches:
 only:
 - master
 - devel
 - devel-nonfree
 - /^[0-9]+\.[0-9]+\.[0-9]+[.0-9ab]*$/

cache:
- pip: true
services:
- redis-server
addons:
  apt:
    packages:
    - swig
    - libzmq3-dev
    - libgmp-dev
    - libglpk-dev
    - glpk-utils
    - pandoc
    - openbabel
before_install:
- pip install pip --upgrade
- pip install codecov
- 'echo "this is a build for: $TRAVIS_BRANCH"'
- 'if [[ "$TRAVIS_BRANCH" != "devel" ]]; then bash ./.travis/install_cplex.sh; fi'
install:
- pip install flake8 numpy scipy pyzmq pandas pytest pytest-cov travis-sphinx
- pip install .[swiglpk,test,parallel,cli,doc]
before_script:
- if [[ $TRAVIS_PYTHON_VERSION == "3.6" ]]; then flake8 .; fi
script:
  - pytest -v -rsx --cov --cov-report=xml
  - if [[ $TRAVIS_PYTHON_VERSION == "3.6" ]]; then travis-sphinx --branches=feat-publish-docs-through-travis-ci --source=docs build; fi
after_success:
- codecov
- if [[ $TRAVIS_PYTHON_VERSION == "3.6" ]]; then travis-sphinx --branches=feat-publish-docs-through-travis-ci deploy; fi
notifications:
  slack:
    rooms:
      - biosustain:UGm09rOjMCgXko3rS3wUivoX
    on_success: change
    on_failure: change
before_deploy:
  - pip install twine
  - python setup.py sdist bdist_wheel
env:
  global:
    secure: QgrOXEgpcH6xgToVfWIX6j6CPvycKMPtNnoYAxPrZjkMzd2aCHHeokv0FZkCn3uePO0I8W8TkKBxilGZbWYoseDq+Snds18sBTG9u2NHvYHnDQb4Oki7+NoxhlnGIOj/8ADONOpc0n7PyFDPK8zmKVZvv9p78OHZO5CmV/ktOeg=
deploy:
  - provider: pypi
    user: Nikolaus.Sonnenschein
    password:
      secure: nxjszXtUzQfnLlfg0cmFjd9gRekXDog6dkkN1rMc7CIWH2gZ1gAX4sNETVChnuSmu9egzhuIkviHstRrdyGoEZ7ZkHlTXmpVAs9AY96eMSejnwHHODhYno0jB7DjGcfejodLF+lo6lWz7S7mXXwML6YLM3xxG+AOjLHlHbPTaKc=
    distributions: sdist bdist_wheel
    skip_cleanup: true
    on:
      branch: master
      tags: true
      repo: biosustain/cameo
    docs_dir: docs/_build/html
#  - provider: releases
#    api_key:
#      secure: VsKdkwYvp7lf65S/pzLWbrk8PaRAzBVClB57s4jYepx+BbJdPJi5Zwz4zmu0Ifa1K7K2Jh0rITV9GZAyC+0Eq2ffXtZsBOsC5+2yKaWV5WiU7kNdUVhD9EFkUaNknT8+B2/sjPsl+GP8DTzCqstgdGo5EAAnvpV53qIAwwF9n0U=
#    file_glob: true
#    file: dist/cameo*.whl
#    skip_cleanup: true
#    on:
#      all_branches: true
#      tags: true
#      repo: biosustain/cameo
