language: python
sudo: required
dist: trusty

env:
  global:
    - GITHUB_REPO=biosustain/cameo

matrix:
  fast_finish: true
  include:
    - python: '3.5'
      env: TOXENV=flake8
    - python: '2.7'
      env: TOXENV=py27
    - python: '3.5'
      env: TOXENV=py35
    - python: '3.6'
      env: TOXENV=py36

branches:
 only:
 - master
 - devel
 - devel-nonfree
 - /^[0-9]+\.[0-9]+\.[0-9]+[.0-9ab]*$/

cache:
- pip: true

services:
- redis-server

addons:
  apt:
    packages:
    - pandoc
    - openbabel

before_install:
- pip install --upgrade pip setuptools wheel tox requests
- bash ./.travis/install_cplex.sh

script:
  - travis_wait tox

before_deploy:
  - if [[ $TRAVIS_PYTHON_VERSION == "3.6" ]]; then
        pip install .[docs,jupyter];
        cd docs && make apidoc && make html && touch _build/html/.nojekyll;
    fi
  - cd "${TRAVIS_BUILD_DIR}"

deploy:
  - provider: pypi
    user: Nikolaus.Sonnenschein
    password:
      secure: nxjszXtUzQfnLlfg0cmFjd9gRekXDog6dkkN1rMc7CIWH2gZ1gAX4sNETVChnuSmu9egzhuIkviHstRrdyGoEZ7ZkHlTXmpVAs9AY96eMSejnwHHODhYno0jB7DjGcfejodLF+lo6lWz7S7mXXwML6YLM3xxG+AOjLHlHbPTaKc=
    distributions: sdist bdist_wheel
    skip_cleanup: true
    skip_existing: true
    on:
      branch: master
      tags: true
      repo: $GITHUB_REPO
    docs_dir: docs/_build/html
  - provider: pages
    fqdn: cameo.bio
    local_dir: docs/_build/html
    skip_cleanup: true
    github_token: $GH_TOKEN # Set in travis-ci.org dashboard
    target-branch: gh-pages
    on:
      branch:
        - master
        - devel
      condition: $TRAVIS_PYTHON_VERSION == "3.6"
      repo: $GITHUB_REPO
#  - provider: releases
#    api_key:
#      secure: VsKdkwYvp7lf65S/pzLWbrk8PaRAzBVClB57s4jYepx+BbJdPJi5Zwz4zmu0Ifa1K7K2Jh0rITV9GZAyC+0Eq2ffXtZsBOsC5+2yKaWV5WiU7kNdUVhD9EFkUaNknT8+B2/sjPsl+GP8DTzCqstgdGo5EAAnvpV53qIAwwF9n0U=
#    file_glob: true
#    file: dist/cameo*.whl
#    skip_cleanup: true
#    on:
#      tags: true
#      repo: $GITHUB_REPO

notifications:
  slack:
    rooms:
      - biosustain:UGm09rOjMCgXko3rS3wUivoX
    on_success: change
    on_failure: change
