include MANIFEST.in
include LICENSE
include README.md
include README.rst
include requirements.txt
include versioneer.py
include cameo/_version.py
include cameo/ui/assets/searching.gif
include cameo/ui/assets/loading_wave.gif
recursive-include cameo/data *
recursive-include cameo/models *
recursive-include tests *
recursive-exclude tests/coverage *
global-exclude .DS_Store *.pyc
