include LICENSE
include README.md
include README.rst
include requirements.txt
include versioneer.py
include cameo/_version.py
recursive-include cameo/data *
recursive-include tests *
recursive-exclude tests/coverage *
global-exclude .DS_Store *.pyc
