numpy>=1.9.1
pyzmq>=14.3.1
ipython>=2.1.0
scipy>=0.9.0
bokeh>=0.4.4
blessings==1.5.1
Jinja2==2.7.3
pandas>=0.15.2
ordered-set==1.2
inspyred==1.0
cobra==0.3.2
-e git+https://github.com/biosustain/optlang.git@700ff4264ef772ddd8401c48f33800d2add415b9#egg=optlang
-e git+https://github.com/biosustain/ipython_notebook_utils.git@b9e68cc2fdbae30d3482306ffcbecbf358530267#egg=ipython_notebook_utils
sphinx>=1.2.2
sphinx-rtd-theme>=0.1.6
escher==1.0.0
bashplotlib==0.6.1
redis>=2.10.3
numexpr==2.4
networkx==1.9.1
six>=1.9.0