sphinx-rtd-theme>=0.1.6
numpydoc>=0.5
cobra==0.3.2
sympy==0.7.5
optlang==0.2.9
mock>=1.0.1
sphinxcontrib-napoleon>=0.2.8
blessings==1.5.1
ordered-set==1.2
inspyred==1.0
bashplotlib==0.6.1
six>=1.9.0
lazy-object-proxy==1.2.0
IProgress==0.2