sphinx-rtd-theme>=0.1.6
numpydoc>=0.5
cobra>=0.3.2
sympy==0.7.5
-e git+https://github.com/biosustain/optlang.git@700ff4264ef772ddd8401c48f33800d2add415b9#egg=optlang
mock>=1.0.1
sphinxcontrib-napoleon>=0.2.8
progressbar-ipython>=2.3.1
blessings==1.5.1
ordered-set==1.2
inspyred==1.0
bashplotlib==0.6.1
six>=1.9.0
